.vertical-gallery{
        width: 100%;
/*        height: 73px;*/
        display: inline-block;
        background-color: gray;
        margin-bottom: 3px;
        position:relative;
    }
    .selected-gallery{
        width: 100%;
        height: 100%;
        display: block;
        background-color: gray;
    }
    .horizontal-gallery{
        width: 31.933%;
        height: 97%;
        display: inline-block;
        background-color: gray;
        padding: 0px;
        background-image: url(/images/home/a4a.jpg);
        position:relative;
    }

    .horizontal-gallery-wrap{
        width:77%;
        height:144px;
    }

    .wrapper-left{position: relative;
        height: 442px;
        /*            width: 80%;*/
        margin-bottom: 5px;

    }
    .right,.left{position:absolute;}
    .right{right:0;width:24%

    }
    .left{left: 0;
        width: 74.9%;
        /*            height: 186px;*/
    }

    .thumbnail-div{
        position: absolute;
        bottom: 0;
       /*  line-height: 11px;
        font-size: 6px; */
        background-color: black;
        opacity: 0.8;
        width: 100%;
        color: white;
        padding-left: 2px;
    }

    .left-number-span{
       font-size: 40PX;
    }

    .left-icon-span{
        font-size: 16px;
        left: 0;
        position: absolute;
        width: 19%;
        height: 20px;
    }

    .right-text-span2{
        right: 0;
        position: absolute;
        width: 80%;
        height: 20px;
        text-align: left;
        padding: 7px 1px;
        
    }

    .right-text-span{
        right: 0;
        position: absolute;
        width: 80%;
        height: 34px;
        text-align: left;
        padding: 7px 1px;
        
    }

    .right-main-div{
        position: relative;
        text-align: left;
        margin: 18px 2px;
        font-size: 7px;
    }

/*override .img-thumbnail*/
    .img-thumbnail{
       width: 193px;
        height: 146px;
        padding: 0;
    }

    .img-center{
       width: 100%;
        height: 442px;
    }

    .form-horizontal .control-label {
         padding-top: 0; 
    }

.form-control {

    width: 71%;
    height: 23px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.128571;
}

    .form-group {
        margin-bottom: 2px;
    }
.modal-detail-p{
    font-size: 12px;
    font-stretch: normal;
}

/*
// HOW IT WORKS
*/
.block-section{
    width: 30em;
    padding: 21px 15px;
    height: 13em;
    white-space: normal;
    text-align: center;
    position: absolute;
    transition: 0.8s;
}

.centered{
    background: url('/images/howitworks/shirt.png') no-repeat;
    background-position: center;
   /*// background-image:  url('/images/howitworks/shirt.png');*/
    margin: auto 0;
    height: 100%;
    width: 100%
}

.block-howitworks{
    top: 8em;
    left: 5em;
}
.block-love{
    top: 19em;
    left: 5em;

}
.block-fit{
    top: 28em;
    left: 5em;
}
.block-design{
    top: 8em;
    right: 5em;

}
.block-measure{
    top: 25em;
    right: 5em;
}

.block-shirt{
    top: 50em;
    right: 50em;
}

.block-stitch{
    top: 40em;
    left: 30em;
}
.block-order{
    top: 35em;
    right: 5em;
}