<!--<div class="jumbotron text-center">
    <h1>About Page</h1>

    <p>{{ abtmessage }}</p>
</div>-->
<div class="container">
    <div class="row">

        <div class="text-center">
            <h2>dapper avenue | [noun]</h2>
            <p>1. The only place yo need to go shirt shopping from now on (bring completely objective here)</p>
            <p>2. [formal] The men's shirt tailor that allows you to design and create a shit to fit your style and personality, all done online</p>

        </div>

    </div>
    <div class="row">
        <tabset justified="true">
            <tab heading="The Dapper Story">
                <div class="container row">
                    <div class="col-lg-6"><br/>
                        <p>Shirts are a staple in every man's wardrobe, the one piece of clothing that can take us through practically every occasion. But too many times have we found ourselves scrambling to look for a sharper, more fitting shirt just before an important event, even though we have more than few already hanging in our wardrobes. They're
                        either too loose or too tight, look to dated or boring like a corporate-drone uniform, but we live in them because tailored shirts are beyond budget, or because the perfect shirt is too difficult to find</p>
                    </div>
                    <div class="col-lg-6">
                        <br/>
                        <p>Most men have been there. As shirt wearers ourselves, we're all too familiar with the myriad of shirt woes. And we decided that we're had enough - and what began as a pursuit for shirts we love in fit and quality and personality, for ourselves, grew into Dapper Avenue aimed at providing great shirts for other guys out there</p>
                    </div>
                </div>
            </tab>
            <tab heading="What we do">
                <div class="col-lg-6">
                    <br/>
                    <p>We make shirts, and believe in only making shirts that we be proud to wear ourselves - that is our mantra and an integral part of our quality checks. And no, we don't believe that great clothes, even
                    individually- customized tailored shirts, need to come with a steep price tag</p>
                    <br/>
                    <p>Our operations online are designed to record accurate measurements (this of course, needs someone you don't mind getting really close to... for your measurements to be taken) and an easy experience</p>
                </div>
                <div class="col-lg-6">
                    <br/>
                    <p>while helping us bring us costs down. So every DA shirt can be conceptualized anytime you like and anywhere, without compromising
                    on the high standard  of tailoring</p>
                    <br/>
                    <p>Here's <a href="#howitworks"><strong>How is work</strong></a> - and just follow the step-by-step process to <strong>Design Your Own Shirt.</strong> You design and customise your shirt to fit
                        your body and style, leave the concerns about and to fit ti</p>
                </div>
            </tab>
            <tab heading="The team">Long Labeled Justified content</tab>
        </tabset>
    </div>
</div>
