<!--<div class="jumbotron text-center">
    <h1>About Page</h1>

    <p>{{ abtmessage }}</p>
</div>-->
<div class="container">
    <div class="row">

        <div class="text-center">
            <h2>dapper avenue | [noun]</h2>
            <p>1. The only place yo need to go shirt shopping from now on (bring completely objective here)</p>
            <p>2. [formal] The men's shirt tailor that allows you to design and create a shit to fit your style and personality, all done online</p>

        </div>

    </div>
    <div class="row">
        <tabset justified="true">
            <tab heading="The Dapper Story">
                <div class="container row">
                    <div class="col-lg-6"><br/>
                        <p>Shirts are a staple in every man's wardrobe, the one piece of clothing that can take us through practically every occasion. But too many times have we found ourselves scrambling to look for a sharper, more fitting shirt just before an important event, even though we have more than few already hanging in our wardrobes. They're
                        either too loose or too tight, look to dated or boring like a corporate-drone uniform, but we live in them because tailored shirts are beyond budget, or because the perfect shirt is too difficult to find</p>
                    </div>
                    <div class="col-lg-6">
                        <br/>
                        <p>Most men have been there. As shirt wearers ourselves, we're all too familiar with the myriad of shirt woes. And we decided that we're had enough - and what began as a pursuit for shirts we love in fit and quality and personality, for ourselves, grew into Dapper Avenue aimed at providing great shirts for other guys out there</p>
                    </div>
                </div>
            </tab>
            <tab heading="What we do">
                <div class="col-lg-6">
                    <br/>
                    <p>We make shirts, and believe in only making shirts that we be proud to wear ourselves - that is our mantra and an integral part of our quality checks. And no, we don't believe that great clothes, even
                    individually- customized tailored shirts, need to come with a steep price tag</p>
                    <br/>
                    <p>Our operations online are designed to record accurate measurements (this of course, needs someone you don't mind getting really close to... for your measurements to be taken) and an easy experience</p>
                </div>
                <div class="col-lg-6">
                    <br/>
                    <p>while helping us bring us costs down. So every DA shirt can be conceptualized anytime you like and anywhere, without compromising
                    on the high standard  of tailoring</p>
                    <br/>
                    <p>Here's <a href="#howitworks"><strong>How is work</strong></a> - and just follow the step-by-step process to <strong>Design Your Own Shirt.</strong> You design and customise your shirt to fit
                        your body and style, leave the concerns about and to fit ti</p>
                </div>
            </tab>
            <tab heading="The team">
                <br/>
                <tabset justified="true">
                    <tab heading="the hatchet">
                        <div class="col-md-4">
                            <br/>
                            <img src="images/hatchet.png" alt="the hatchet"/>
                        </div>
                        <div class="col-md-8">
                            <br/>
                           <p>Dapper Avenue's head fixer, The hatchet us the reason your shirts reach you on time. The hatchet never knows where work will find him, and his shirt has to be ready for it all.</p>
                           <p>Preferring to remain behind-the-scenes, The Hatchet's Dapper Avenue shirts are simple; plain and in dark fabrics sp the blood grease stains don't show. The lightweight cotton keeps him cool against hislightweight workload. Needing to look good even with his sleeves rolled up; The Hatchet Dapper Avenue shirt sport subtle personalities to have enough character withou going over-the-top. Because anything over-the-top offends his functional sensibilities; and no one wants to offend The Hatchet.</p>
                        </div>
                    </tab>
                    <tab heading="the wordsmith">
                        <div class="col-md-4">
                            <br/>
                            <img src="images/wordsmith.png" alt="the wordsmith"/>
                        </div>
                        <div class="col-md-8">
                            <br/>
                            <p>Dapper Avenue's editor-in-chief, The Wordsmith weaves reality with the force of his prose. With an attention to detial that comes with the job description The Wordsmith's demands to be put-together as the words he sets to paper.</p>
                            <p>Going to the laptop to bar-top isn't always easy, and The Wordsmith's shirt feature design elements that are muted enough for day-use and ritzy enough for evenings out. Patterns and details help camouflage the ink stains he invitable sports.</p>
                            <p>With reverse-contrast cuffs to conceal smudges, The Wordsmith's shirts start conversations; and conversations write stories.</p>
                        </div>
                    </tab>
                    <tab heading="the creative">
                        <div class="col-md-4">
                            <br/>
                            <img src="images/creative.png" alt="the creative"/>
                        </div>
                        <div class="col-md-8">
                            <br/>
                            <p>Dapper Avenue's Creative Director, The creative is the person behind our personality, and the face of Dapper Avenue. Wearing is daring signatur pieces he moves effortlessly from 'plan & design' to 'wine & dine'.</p>
                            <p>The Creative knows that the impression he leaves matters, and his shirts are undeniably Dapper. Knowing he can carry it off, The Creatve makes use of the full range of customisations from collars to shirt-tails, in bold colours or embellished with florals that most people only wish dared to wear.</p>
                            <p>Every shirt that the creative dons is a testament to the Creative heart and soul of the Dapper brand.</p>
                        </div>
                    </tab>
                    <tab heading="the resident goddess">
                        <div class="col-md-4">
                            <br/>
                            <img src="images/goddess.png" alt="the resident goddess"/>
                        </div>
                        <div class="col-md-8">
                            <br/>
                            <p>Dapper Avenue's resident deity and main muse; The Resident Goddess lords over business development. Encouraging the Dapper team to plan big, whilst keeping them grounded; she lends devine inspiration whenever needed.</p>
                            <p>Being able to wear anything, and still look amazing, the Resident Goddess doesn't have a "shirt fear", through she understands that so many mere mortals do. Believing that even mortals deserve to have clothes that make them feel divine, Resident Goddess was compelled to act.</p>
                            <p>The Goddess searched the world for ages to find just that; A way to make shirts were unique, exciting, fitted, personal -shirts that were divine - and then make those shirts accessible to every Body.</p>
                            <p>She spends her days at Dapper Avenue supporting the Dapper Team through their trials and tribulations.</p>
                        </div>
                    </tab>
                </tabset>
            </tab>
        </tabset>
    </div>
</div>
