<br/>
<div class="container">
    <div class="centered">
        <!--<img  src="/images/howitworks/shirt.png" alt="HOW IT WORKS" width="50%" height="70%" />-->
        <div class="block-howitworks block-section">
            <h4>HOW IT WORKS </h4>
            <p>Ah, you’ve made your way onto Dapper Avenue. We hope it’s because you’ve heard good things, but if you’ve stumbled here by accident, hang around for a bit. We think you’ll like what you see!</p>
        </div>
        <div class="block-design block-section">
            <h4>1. DESIGN</h4>
            <p>Our fabrics are pure cotton or cotton silk, and single ply to keep you cool in the heat of the concrete jungle. Browse our curated selection of fabrics and pick one, confident in the knowledge that we only offer fabrics we’d wear too.</p>
            <p><strong>Customise: </strong>Dapper Avenue’s customization offerings are some of the most extensive you’ll find. Contrasting Cuffs? Personalized Placket? Design a shirt that screams you! Creative slump? No problem. Start with one of ours and add your signature!</p>
        </div>
        <div class="block-fit block-section">
            <h4>5. IT'S A FIT</h4>
            <p>Slip into it. Go on. Do you feel Dapper?<br/>
                <strong>It Fits:</strong> Welcome to your latest addiction. You’ll never want an off-the-rack shirt again. But it's ok, we're an addiction that is so, so good for you.
                <br/><strong>Needs Some Work:</strong> Even the greatest relationships need work. Let us know if your DA shirt doesn’t deliver on the perfect fit promise, and we will dispatch our alteration elves to collect, adjust and return your shirt to you. </p>
        </div>
        <div class="block-love block-section">
            <h4>6. Love</h4>
            <p>There are no unhappy shirt owners at Dapper Avenue!
                If we can’t give you a Dapper fit, we’ll give you a full refund (store credits).
                Our doors are always open to you, and your friends, so spread the word, and come back anytime</p>
        </div>
        <div class="block-measure block-section">
            <h4>2. MEASURE</h4>
            <p>To make sure your shirt fits like a dream you’ll need; a tape measure (request the [DA starter kit]), a friend that you don’t mind getting… very… close to (also a fun 3rd date idea), and 20 minutes. These will be the best 20 minutes you’ll ever spend.</p>
        </div>
        <div class="block-order block-section">
            <h4>3. ORDER</h4>
            <p>Shipping is free, but if you can’t wait to get into our shirts, you can opt for expedited shipping at your own expense. Otherwise, thanks for your order; a confirmation email will be sent to you in a suitable amount of time.</p>
        </div>
        <div class="block-stitch block-section">
            <h4>4. STITCH & SHIP</h4>
            <p>Congratulations, your order has been forwarded to our shirt elves for processing! You’ve done all the hard work, now leave the rest to us!
                Sooner than you think, your Dapper Avenue shirt will be knocking on your door. Careful now, this could be the beginning of a love affair that will scandalize the public.</p>
        </div>
    </div>
</div>