<style>
    html 					{ overflow-y:scroll; }
    body 					{ padding-top:50px; }
    #todo-list 				{ margin-bottom:30px; }
    #todo-form 	 			{ margin-bottom:50px; }
    .vertical-gallery{
        width: 100%;
        height: 73px;
        display: inline-block;
        background-color: gray;
        margin-bottom: 3px;
        position:relative;
    }
    .selected-gallery{
        width: 100%;
        height: 100%;
        display: block;
        background-color: gray;
    }
    .horizontal-gallery{
        width: 31.933%;
        height: 97%;
        display: inline-block;
        background-color: gray;
        padding: 0px;
        background-image: url(/images/home/a4a.jpg);
        position:relative;
    }

    .horizontal-gallery-wrap{
        width:76%;
        height:72px
    }

    .wrapper-left{position: relative;
        height: 211px;
        /*            width: 80%;*/
        margin-bottom: 18px;

    }
    .right,.left{position:absolute;}
    .right{right:0;width:24%

    }
    .left{left: 0;
        width: 74.6%;
        /*            height: 186px;*/
    }

    .thumbnail-div{
        position: absolute;
        bottom: 0;
        line-height: 11px;
        font-size: 6px;
        background-color: black;
        opacity: 0.8;
        width: 100%;
        color: white;
        padding-left: 2px;
    }

    .left-number-span{
        font-size: 29px;
        left: 0;
        position: absolute;
        width: 19%;
        height: 34px;
    }

    .left-icon-span{
        font-size: 16px;
        left: 0;
        position: absolute;
        width: 19%;
        height: 20px;
    }

    .right-text-span2{
        right: 0;
        position: absolute;
        width: 80%;
        height: 20px;
        text-align: left;
        padding: 7px 1px;
        font-size: 6px;
    }

    .right-text-span{
        right: 0;
        position: absolute;
        width: 80%;
        height: 34px;
        text-align: left;
        padding: 7px 1px;
        font-size: 6px;
    }

    .right-main-div{
        position: relative;
        text-align: left;
        margin: 18px 2px;
        font-size: 7px;
    }
</style>

<div ng-controller="mainController">
    <hr style="width:75.6%;  margin-bottom:5px;" size="2">
    <div class="container" style="width:80%">
        <div style="float: left; width: 75%;" >
            <div class="wrapper-left">
                <div class="left">
                    <div class="selected-gallery">
                        <img ng-src="{{centerImageResource}}" height="225px" width= "100%">
                        <!--                    <span class="thumbnail-div">count: {{count}}</span>-->
                    </div>
                </div>

                <div class="right">
                    <div class="vertical-gallery"  ng-mouseover="switchImage('images/home/Monday.jpeg')">
                        <img ng-src="/images/home/Monday.jpeg" height="100%" width= "100%">
                        <span class="thumbnail-div">Monday:IMPRESS</span>
                    </div>
                    <br/>
                    <div class="vertical-gallery" ng-mouseover="switchImage('/images/home/Tuesday.jpeg')" >
                        <img ng-src="/images/home/Tuesday.jpeg" height="100%" width= "100%">
                        <span class="thumbnail-div">Tuesday:DAPPER</span>
                    </div>
                    <br/>
                    <div class="vertical-gallery" ng-mouseover="switchImage('/images/home/Wednesday.jpg')" >
                        <img ng-src="/images/home/Wednesday.jpg" height="100%" width= "100%">
                        <span class="thumbnail-div">Wednesday:FLIRT</span>
                    </div>
                    <br/>
                    <div class="vertical-gallery" ng-mouseover="switchImage('/images/home/Thursday.jpg')" ng-init="count=0">
                        <img ng-src="/images/home/Thursday.jpg" height="100%" width= "100%">
                        <span class="thumbnail-div">Thursday:FLAUNT</span>
                    </div>
                    <br/>
                </div>
            </div>
            <!--            <br/>-->
            <div class="horizontal-gallery-wrap">
                <div>
                    <div class="horizontal-gallery" ng-mouseover="switchImage('/images/home/Sunday.jpg')">
                        <img ng-src="/images/home/Sunday.jpg" height="100%" width= "100%">
                        <span class="thumbnail-div">Sunday:RELAX</span>
                    </div>

                    <div class="horizontal-gallery" ng-mouseover="switchImage('/images/home/Saturday.jpg')">
                        <img ng-src="/images/home/Saturday.jpg" height="100%" width= "100%">
                        <span class="thumbnail-div">Saturday:CASUAL</span>
                    </div>

                    <div class="horizontal-gallery" ng-mouseover="switchImage('/images/home/Friday.jpg')" ng-init="count=0">
                        <img ng-src="/images/home/Friday.jpg" height="100%" width= "100%">
                        <span class="thumbnail-div">Friday:XXX</span>
                    </div>
                </div>
            </div>
        </div>

        <div style="float: right; width: 24.4%;">
            <div style="text-align:center;margin:0; font-size:6.6px;">short blurb about us goes here, this will be crafted by fablian and tabs later. This is now a teaser space first...."Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem."
            </div>

            <hr style="margin:6px 2px;">

            <div style="position: relative;height:89px;padding:0px 3px">
                <div style="position: relative;text-align:left; 3px; font-size:7px;">
                    <span class="left-number-span">1</span>
                        <span class="right-text-span">
                            select your fabric from our curated collection that fits your personality and lifestyle
                        </span>
                </div>
                <br/>
                <div style="position: relative;text-align:left;margin:18px 3px; font-size:7px;">
                    <span class="left-number-span">2</span>
                       <span class="right-text-span">
                           decide exactly how you want your shirt to look and make it uniquely yours
                        </span>
                </div>
                <br/>
                <div style="position: relative;text-align:left;margin:18px 3px; font-size:7px;">
                    <span class="left-number-span">3</span>
                       <span class="right-text-span">
                           whip out the tape(or grap a friend) and start measuring yourself to ensure a perfect fit
                       </span>
                </div>
            </div>
            <br/>
            <hr style="margin:6px 2px;">
            <!--	            <br/>-->
            <div style="position: relative;text-align:left; margin: 3px 7px;; font-size:7px;">
                        <span class="left-icon-span">
                            <img ng-src="/images/home/cut-icon.png" height="100%" width= "15px">
                        </span>
                <span class="right-text-span2">select your fabric </span>
            </div>
            <br/>
            <div style="position: relative;text-align:left;margin: 3px 7px; font-size:7px;">
                       <span class="left-icon-span">
                            <img ng-src="/images/home/cut-icon.png" height="100%" width= "15px">
                        </span>
                <span class="right-text-span2">decide exactly how </span>
            </div>
            <br/>
            <div style="position: relative;text-align:left;margin: 3px 7px; font-size:7px;">
                       <span class="left-icon-span">
                           <img ng-src="/images/home/cut-icon.png" height="100%" width= "15px">
                       </span>
                <span class="right-text-span2">whip out the tape</span>
            </div>
        </div>
    </div>
    <!--
               <div style="bottom:0;color:white;font-size:5px;">
                    <p>__</p><hr style="margin-top: 22px;" size="2">
               </div>
    -->
</div>
<hr style="width:75.6% ; margin-top:5px;" size="2">
</div>